
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{

    <div class="row">

        <div class="col-md-8">

            <div class="form-horizontal">

                <div class="form-group">

                    @Html.Label("userName", "User Name", new { @class = "control-label col-md-4" })

                    <div class="col-md-6" style="">
                        @Html.TextBox("userName", null,
                       new
                       {
                           @required = "require",
                           @style = "width:75%; background-color:yellow; ",
                           @class = "form-control",
                           placeholder = "Enter user Name"
                       })
                    </div>
                </div>

                <div class="form-group">

                    @Html.Label("userPWD", "Password", new { @class = "control-label col-md-4" })

                    <div class="col-md-6" style="">
                        @Html.Password("userPWD", null,
                       new
                       {
                           @required = "require",
                           @style = "width:75%; ",
                           @class = "form-control",
                           placeholder = "password"
                       })
                    </div>

                    <input class="" type="button" value="Login" onclick="postLoginData();"/>
                </div>
            </div>
        </div>
    </div>

}

<script type="text/javascript">

    function postLoginData() {

        alert('postLoginData called');

        var uname = document.getElementById('userName').value;
        var upwd = document.getElementById('userPWD').value;
        
        var para = { "userName": uname, "password": upwd };

        alert(para);
        
        $.ajax({
            dataType: "json",
            contentType: "application/json",
            type: 'POST',
            url: "/Login/LoginToSystem",
            data: JSON.stringify(para)

        }).done(
             function (d) {
                alert(d);
             }
        );
    }

</script>

